
#navBar{
  background-color: #343330;
}
#navAbout{
  color: #D1A617;
  cursor: pointer;
}
#navContact{
  color: #D1A617;
  cursor: pointer;
}
#navBlog{
  color: #D1A617;
  cursor: pointer;
}
#navProjects{
  color: #D1A617;
  cursor: pointer;
}