#aboutPages{
background-color: #343330;
width: 100%;
/* height: 250vh; */
}
.aboutHeading{
    color: #D3D2CE;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
    font-size: 7.5vh;
}
#aboutHeaders{
    position: relative;
    margin-left: 17.5%;
    top: 10em;
}
#aboutImageDiv{
    float: right;
    margin-top: 12em;
    text-align: center;
    background-image: linear-gradient(#343330, #131311);
    width: 82.5%;
    height: 80vh;
    /* box-shadow: 0px .25px 10px 0 rgb(4, 4, 3), 0 0px 0px 0 rgb(57, 57, 51); */

}
#aboutImage{
position: relative;
bottom: -6.9em;
/* box-shadow: 0 .1px 5px 0 rgba(0, 0, 0, 0.5), 0 0px 0px 0 rgba(0, 0, 0, 0.5); */

}
#aboutHomeLink{
    position: sticky;
    left:92.5%;
    top: 2em;
    /* left:5; */
    /* right: 3em; */
    background-color: #7E5920;
    text-align: left;
    border-width:3px;  
    border-style:double;
    border-color: #D1A617;
    border-radius: 1.5em;
    width: 3em;
    height: 3em;
    z-index: 2;
    /* margin: 5em; */
    /* margin-top: 2em; */
  }
  #aboutHomeLink:hover{
    cursor: pointer;
    width: 3.2em;
    height: 3.2em;
    border-width:4px;  
    border-radius: 1.5em;
  }
  #aboutAR{
    color: white;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin-top: .45em;
  }
  #aboutAR:hover{
    font-size: x-large;
    margin-top: .3em;
    cursor: pointer;

  }
  #aboutText{
    color: #D3D2CE;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    margin-left: 25%;
    top: 10em;
  }
  #aboutTextDiv{
 width: 70%;
 line-height: 1.75em;


  }
  #aboutTextDivOne{
    line-height: 1.5em;
    margin-top: 2em;
    margin-bottom: 1.25em;
  }
  #aboutHead{
      font-weight: bolder;
  }
  @media only screen and (max-width: 375px) {
    #aboutPages{
      width: auto;
    }
    #aboutImageDiv{
width: auto;
    }
  }
  @media (max-height: 850px) and (max-width: 400px) {
    .aboutHeading{
      font-size: 3.5vh;
    }
    #aboutHeaders{
      margin-left: none;
    }
    #aboutImageDiv{
      float:none;
      width: auto;
      margin-top: 0em;
    }
    #aboutImage{
      width: 85%;
      bottom: -12em;
      left: 1em;

    }
    #aboutText {
      margin-left: 10%;
    }
    #aboutTextDiv{
      width: 90%;
    }
  }